*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* INIZIO HEADER  */

.row-header{
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.col-50{
    width: calc(100% / 2);
    padding: 15px;
}

.content-left{
    display: flex;
}

.content-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.caratteristiche-link{
    padding-left: 40px;
    text-decoration: none;
    color: rgb(40, 38, 38);
    font-size: 15px;
}

.button-header{
    margin-left: 40px;
}

.button-blu{
    background-color: #0061FF;
    border: none;
    color: #fff;
    padding: 10px 20px;
}
/* FINE HEADER */


/* INIZIO MAIN */
/* INIZIO SEZIONE 1 */
.jumbotron{
    background-color: #b4d0e7;
}

.container-60{
    width: 60%;
    margin: 0 auto;
}

.row1 , .row2{
    width: 100%;
    display: flex;
}


.col-100{
    width: 100%;
}

.col-30{
    width: 30%;
}

.col-70{
    width: 70%;
}

h1{
    font-size: 80px;
    padding: 50px 0px;
}

.col-30 .button-blu{
    font-size: 15px;
    margin: 30px 0;
    display: block;
}

.img-position{
    position: relative;
}

#img-jumbo{
    width: 100%;
    position: absolute;
    right: 0;
}

.style-p , .font-span{
    font-size: 15px;
}

.mod-span{
    display: block;
}

.down-arrow{
    font-size: 20px;
    margin: 95px 0 20px 0;
}

/* FINE SEZIONE 1 */

/* INIZIO SEZIONE 2 */
.container-55{
    width: 55%;
    margin: 0 auto;
}

.row-section-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* INIZIO PRIMA COL 100 */
.content-col-100{
    padding-top: 150px;
}
.content-col{
    width: 100%;
}

.modifiche-text{
    font-size: 40px;
    padding-bottom: 50px;
}

.input-style{
    margin: 60px 5px 60px 0;
}

.input-right{
    margin-left: 50px;
}

/* FINE PRIMA COL 100 */

/* INIZIO COL 33 */

.col-33{
    width: calc(100% / 3 - 30px);
}

.border-col{
    border: 1px solid lightgray;
}

.top-col{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 30px 0 40px 0;
}

.h3-style{
    font-size: 28px;
    padding: 25px 0 20px 0;
}

.li-style{
    display: flex;
    padding: 10px 0;
}

hr{
    width: 20%;
    margin: 40px 0;
}

.span-link{
    padding-top: 30px;
}

.inside-col-padding{
    padding: 0 25px;
}

.icon-mod{
    padding-right: 5px;
}

.font-style{
    font-size: 15px;
}

.button-col{
    width: 100%;
}
/* FINE COL 33 */

/* INIZIO SECONDA COL 100 */
.border-col-100{
    border:1px solid lightgray;
    margin-top: 50px;
}

.row-inside-col{
    display: flex;
    padding: 10px 20px;
}

.setting-paragraph{
    padding-top: 50px;
    font-size: 15px;
}

.col-60{
    width: 60%;
}

.col-40{
    width: 40%;
}
/* FINE SECONDA COL 100 */

/* FINE SEZIONE 2 */

/* INIZO SESSIONE 3 */
.margin-row1{
    margin: 150px 0;
}

.content-col-40{
    padding: 50px 20px 0 50px;
}

.structure-img{
    max-width: 100%;
}

.white-button{
    padding: 10px 20px;
    font-size: 15px;
    background-color: #fff;
    margin-top: 30px;
}
/* FINE SESSIONE 3 */

/* INIZIO SEZIONE 4 */
.padding-col{
    padding-top: 30px;
}

/* FINE SEZIONE 4 */

/* FINE MAIN */

/* INIZIO FOOTER */
/* FINE FOOTER */
